<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hillel</property>
        <property name="hibernate.connection.username">hillel</property>
        <property name="hibernate.connection.password">hillel</property>

        <!-- Отображение SQL-запросов -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Автоматическое создание таблиц -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Укажите классы-сущности -->
        <mapping class="org.dz27.entity.User" />
    </session-factory>
</hibernate-configuration>